.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.titleText {
  margin-top: 0.5rem;
  color: var(--orange-700);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  padding: 1rem 1.5rem;
}

.form {
 width: 90%;
 display: flex;
 flex-direction: column; 
}

.errorMessage {
  color: var(--orange-900);
  margin-bottom: 7px;
  margin-top: -10px;
  font-size: 12px;
}

@media (max-width: 650px) {
  .login{
    width: 90%;
  }
  .titleText{
    font-size: 1.5rem;
  }
}